@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
.hide-scroll,
* {
  scrollbar-width: auto;
  scrollbar-color: #afaab1 #ffffff;
}

/* Chrome, Edge, and Safari */
.hide-scroll::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.hide-scroll::-webkit-scrollbar-track ,
*::-webkit-scrollbar-track {
  background: #ffffff;
}

.hide-scroll::-webkit-scrollbar-thumb ,
*::-webkit-scrollbar-thumb {
  background-color: #afaab1;
  border-radius: 12px;
  border: 3px solid #ffffff;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

aside::-webkit-scrollbar {
  display: none;
  position: sticky;
  height: 100vh;
  top: 0;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 100%;
	height: 32px;
  border-radius: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f6f9;
  min-height: 100vh;
}
body::backdrop {
  background: inherit;
}
