@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #afaab1 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #afaab1;
  border-radius: 12px;
  border: 3px solid #ffffff;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 100%;
	height: 32px;
  border-radius: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f6f9;
  min-height: 100vh;
}

body.dark {
  background-color: #282828;
  color: #bebebe;
}

body.dark header {
  background: #282828 !important;
}

body.dark input,
body.dark input,
body.dark input,
body.dark input,
body.dark input,
body.dark select,
body.dark textarea,
body.dark input {
  border-color: transparent;
  background-color: #2c2c2c;
}
input:focus::placeholder {
  color: transparent !important;
}
body.dark input:-webkit-autofill {
  /* -webkit-box-shadow: 0 0 0px 1000px theme("colors.gray.300") inset; */
  color: #fff;
  /* background-color: ;
  color: theme("colors.gray.200");
  */
}

body.dark .bg_dark {
  background-color: #313030;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-full {
  /* max-width: 100%;
  margin: 0 auto; */
  padding-left: 15px;
  padding-right: 15px;
}

input:focus-visible {
  outline: none;
}

.primary-menu li:hover > ul {
  pointer-events: all;
  opacity: 1;
}
.primary-menu > li:last-child > ul,
.primary-menu > li:nth-last-child(2) > ul {
  right: 0;
  left: unset;
}
.primary-menu > li:nth-last-child(2) li > ul,
.primary-menu > li:last-child li > ul {
  right: 100% !important;
  left: unset;
}
.primary-menu li:nth-last-child(2) > ul button,
.primary-menu li:last-child > ul button {
  flex-direction: row-reverse;
}
.primary-menu li:nth-last-child(2) > ul button span,
.primary-menu li:last-child > ul button span {
  transform: rotate(90deg);
}
.has-checked:has(input:checked) {
  background-color: theme("colors.blue.200");
  color: theme("colors.blue.600");
}
body.dark .has-checked:has(input:checked) {
  background-color: theme("colors.gray.700");
  color: theme("colors.gray.200");
}
body.dark .has-checked:has(input:checked) input {
  accent-color: theme("colors.gray.200");
}

.pagination li {
  padding: 0.25rem 0.5rem;
}
.sorting-hover:hover span {
  opacity: 1;
}

.color-level-0::after {
  background-color: #faedcd;
}
.color-level-1::after {
  background-color: #e9edc9;
}
.color-level-2::after {
  background-color: #fefae0;
}
.color-level-3::after {
  background-color: #ccd5ae;
}
.color-level-4::after {
  background-color: #fff4d2;
}
.color-level-5::after {
  background-color: #e5d1fa;
}
.color-level-6::after {
  background-color: #e3dffd;
}
.color-level-7::after {
  background-color: #ecf2ff;
}
.color-level-8::after {
  background-color: #a0c3d2;
}

.dark .color-level-0::after {
  background-color: #f001;
}
.dark .color-level-1::after {
  background-color: #ff01;
}
.dark .color-level-2::after {
  background-color: #00f1;
}
.dark .color-level-3::after {
  background-color: #0801;
}
.dark .color-level-4::after {
  background-color: #0981;
}
.dark .color-level-5::after {
  background-color: #f0e1;
}
.dark .color-level-6::after {
  background-color: #8891;
}
.dark .color-level-7::after {
  background-color: #d0e1;
}
.dark .color-level-8::after {
  background-color: #30f1;
}

/* Tooltip */
.tooltip {
  position: relative;
  z-index: 9;
}
.tooltip::before {
  float: left;
  content: "" attr(data-title) "";
  position: absolute;
  /* transform: translate(-5px, -40px); */
  left: 0;
  bottom: 103%;
  padding: 5px 10px;
  border-radius: 0.5rem;
  background-color: #444;
  color: #fff;
  font-size: 11px;
  opacity: 0;
}
.tooltip:hover {
  z-index: 9;
}
.tooltip:hover::before {
  opacity: 1;
}


.tools-tab-item button {
  pointer-events: none;
  opacity: 0;
  transition: opacity .1s ease-in;
}
.tools-tab-item:hover button {
  opacity: 1;
  pointer-events: unset;
} 